<!doctype html>
<html class="fixed">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">

		<title>green building</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="/static/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="/static/vendor/morris/morris.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="/static/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>


			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a  class="logo">
						<img src="/static/images/logo.png" height="40" alt="greenbuilding" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<!-- start: search & user box -->
    		<div class="header-right">
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="/static/images/!logged-user.jpg" alt="user" class="img-circle" data-lock-picture="/static/images/!logged-user.jpg" />
							</figure>

							<div class="profile-info" data-lock-name="Fion L" data-lock-email="fion@abc.com">
								<span class="name">Fion L</span>
								<span class="role">administrator</span>
							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

		<!-- end: search & user box -->

			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header">
<!--
         	<div class="sidebar-title">
							Navigation
						</div>
-->
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">


									<li class="nav-parent nav-expanded nav-active">
										<a>
											<i class="fa fa-share-alt" aria-hidden="true"></i>
											<span class="nav-font">IOT Data</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/buildings/dashboard">
													 Dashboard
												</a>
											</li>
											<li>
												<a href="/buildings/mon">
													 Motion
												</a>
											</li>
											<li >
												<a href="/buildings/lig">
													 Lighting
												</a>
											</li>
											<li class="nav-active">
												<a href="/buildings/con">
													 Smart Nodes & Clusters
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-dashboard" aria-hidden="true"></i>
											<span class="nav-font">Sensor Data</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/buildings/sdashboard">
													 Current Data
												</a>
											</li>
											<li>
												<a href="/buildings/stem">
													 Records
												</a>
											</li>
											<li >
												<a href="/buildings/slig">
													 Lighting Records
												</a>
											</li>

										</ul>
									</li>
									</ul>
								</nav>
							</div>
						</div>

				</aside>

				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2> <%= address %></h2>
						<div >
	           <ol class="breadcrumbs">
								<li>
									<a href="/buildings/index">
										<i class="fa fa-chevron-left"></i>
                    <span>back to select buildings</span>
									</a>
									</li>
						</ol>
						</div>
					</header>


	<div class="row">
		<div class="col-xs-12">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>

					<h2 class="panel-title">Select Floor</h2>
				</header>
				<div class="panel-body">
					<form class="form-horizontal form-bordered" action="#">
						<div class="form-group">
							<label class="col-md-3 control-label">Which floor?</label>
							<div class="col-md-4">
								<select data-plugin-selectTwo class="form-control populate"  onchange="window.location=this.value;" name="floor">
											 <option value="/buildings/con/<%= j %>">all the floors</option>
											 <% for (var j = 0; j < building.floors.length; j++) { %>
												 <% if (j==selected) { %>
												 <option value="/buildings/con/<%= j %>" selected>Floor<%= j+1 %></option>
												 <% } else {%>
												 <option value="/buildings/con/<%= j %>" >Floor<%= j+1 %></option>
												 <% } } %>
									</select>
							</div>

<!--floor map-->
           <section>
           	<input id="showed" type="checkbox">
	          <label for="showed" class="fmap">show floor map</label>
	        	<img  class="expandable" src="/static/images/<%= pic %>" alt="select which floor first"/>
              </section>
								<div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>


		<div class="row">
			<div class="panel-body">
				<table class="table table-bordered table-striped mb-none" id="datatable-default">
					<thead>
						<tr>
              <th>Device Name</th>
							<th>Device Type</th>
							<th>Cluster#</th>
							<th>Device status</th>
						</tr>
					</thead>
					<tbody>
						  <% for(var i in sensorlist){ %>
						<tr class="gradeX">
							<td><%= sensorlist[i][0] %></td>
							<td><%= sensorlist[i][1] %></td>
							<td><%= sensorlist[i][2] %></td>
							<td><%= sensorlist[i][3] %></td>
						</tr>
						  <% } %>
					</tbody>
				</table>
			</div>

		</div>


		</div>




		<!-- Vendor -->
		<script src="/static/vendor/jquery/jquery.js"></script>
		<script src="/static/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="/static/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="/static/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="/static/vendor/jquery-placeholder/jquery.placeholder.js"></script>




		<!-- Theme Base, Components and Settings -->
		<script src="/static/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="/static/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="/static/javascripts/theme.init.js"></script>




	 </section>
	</body>
</html>
